/* Header container */
header {
  background-color: yellow; /* light warm background */
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-bottom: 3px solid #f9d8b4;
}

/* Store title */
header h1 {
  font-size: 1.8rem;
  margin: 0;
  color: black;
  font-family: 'Segoe UI', sans-serif;
}

header div {
  display: flex;
  align-items: center;
  flex-flow: row wrap;  
  justify-content: space-between;
}
/* Navigation links as buttons */
header div nav{
  margin-top: 1rem;
  display: flex;
}
/* Navigation links as buttons */
header div nav:nth-of-type(1) {
  justify-content: flex-end;
  margin-left: 300px;
}
/* Below is layout for userArea */
header div nav:nth-of-type(2) {
  justify-content: flex-end;
  margin-right: 100px;
}

/* Navigation links as tab buttons */
header div nav a {
  text-decoration: none;
  color: yellow;
  padding: 0.6rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  background: black;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s ease;
  margin-right: 0.3rem;
}

/* Hover effect */
header div nav a:hover {
  color: black;
  background-color: #fff;
}

/* Active tab */
header div nav a.active {
  color: yellow;
  background-color: green;
  border: 1px solid #ccc;
  border-bottom: 2px solid #fff; /* làm tab nổi lên */
}
